* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: white;
  font-size: 20px;
}

.container {
  position: relative;
  width: 640px;
  height: 1000px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  border-color: black;
  /* box-shadow: 0 20px 30px rgba(0,0,0,.2); */
}

.mainImage {
  position: relative;
  width: auto;
  height: auto;
  max-width: 640px;
}

.container .title {
  font-size: 20px;
  position: relative;
  font-weight: bold;
}

#form {
  padding: 20px;
  width: 480px;
}

#form .userBox {
  text-align: center;
  justify-content: center;
  align-items: center;
}

#form .userBox .formBox {
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}

#inputText {
  width: 340px;
  height: 20px;
  margin-right: 20px;
  border: none;
  border-bottom: 1px solid #000000;
  padding-bottom: 1px;
  font-size: 16px;
  margin-bottom: 30px;
}

#inputText::placeholder {
  color: A9A9A9;
}

#form .userBox .pwBox {
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  font-family: Helvetica Neue;
}

#inputPW {
  width: 340px;
  height: 20px;
  margin-right: 20px;
  border: none;
  border-bottom: 1px solid #000000;
  padding-bottom: 1px;
  margin-bottom: 30px;
  font-size: 16px;
}

#checkBox {
  width: 70px;
  height: 40px;
  margin-left: 10px;
  background-color: #e5efff;
  color: #1279ff;
  border-radius: 6.7px;
  border-style: hidden;
  font-weight: bold;
  font-size: 16px;
}

#checkIcon {
  width: 70px;
  margin-left: 10px;
}

#selectBox {
  width: 250px;
  height: 40px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 6.7px;
  text-align-last: center;
  border-color: #0084f8;
  color: #1279ff;
}

.box4 {
  width: 120px;
  height: 40px;
  color: white;
  background-color: #1279ff;
  border: 1px solid #1279ff;
  border-radius: 20px;
}
