* {
  margin: 0;
  padding: 0;
}

.logoimg {
  margin: 0 auto;
  padding-top: 10px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: white;
}

.container {
  width: 360px;
  margin: 0 auto;
}

#form .formBox {
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}

#inputText {
  width: 70%;
  height: 20px;
  border: none;
  border-bottom: 1px solid #000000;
  padding-bottom: 1px;
  margin-bottom: 20px;
}

#inputText::placeholder {
  color: A9A9A9;
}

#inputPW {
  width: 70%;
  height: 20px;
  border: none;
  border-bottom: 1px solid #000000;
  padding-bottom: 1px;
  margin-bottom: 20px;
}

#checkBox {
  width: 70px;
  height: 30px;
  margin-left: 5px;
  background-color: #e5efff;
  color: #1279ff;
  border-radius: 6.7px;
  border-style: hidden;
  font-weight: bold;
}

#checkIcon {
  width: 70px;
  margin-left: 5px;
}

#selectBox {
  width: 330px;
  height: 40px;
  font-weight: bold;
  border-radius: 6.7px;
  text-align-last: center;
  border-color: #0084f8;
  color: #1279ff;
}

.box1 {
  width: 330px;
  height: 150px;
  background-color: #f0f5f9;
  border-radius: 5px;
  text-align: left;
}

.box2 {
  width: 120px;
  height: 40px;
  color: white;
  background-color: #1279ff;
  border: 1px solid #1279ff;
  border-radius: 20px;
}

@media (max-width: 375px) {
  .container {
    width: 90%;
  }

  #selectBox {
    width: 90%;
  }

  .box1 {
    width: 90%;
  }
}
