* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}

article > img {
  flex-flow: row wrap;
  margin: 0 auto;
}
