* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: white;
}

.img {
  display: inline-block;
}

.box4 {
  width: 120px;
  height: 40px;
  color: white;
  background-color: #1279ff;
  border: 1px solid #1279ff;
  border-radius: 20px;
}
