* {
  margin: 0;
  padding: 0;
}

.logoimg {
  margin: 0 auto;
  padding-top: 10px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.box {
  text-align: left;
}

span {
  color: red;
}

@media (max-width: 375px) {
  body {
    padding-left: 6%;
    padding-right: 6%;
  }
}
