* {
  margin: 0;
  padding: 0;
}

.logoimg {
  margin: 0 auto;
  padding-top: 10px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: white;
}

.container {
  margin: 0 auto;
}

table {
  display: flex;
  justify-content: center;
  width: 90vw;
  text-align: center;
}

th {
  text-align: left;
  font-weight: normal;
}

.box4 {
  width: 120px;
  height: 40px;
  color: white;
  background-color: #1279ff;
  border: 1px solid #1279ff;
  border-radius: 20px;
}

.fa-angle-right {
  color: white;
  position: relative;
  right: 20px;
}
