* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}

.circle {
  background-color: #f2f2f2;
  width: 60px;
  height: 60px;
  border-radius: 75px;
  margin: 0 auto;
}

.formbox1 {
  text-align: left;
}

.formbox2 {
  text-align: right;
}

#inputText {
  width: 125px;
  height: 10px;
  margin-right: 10px;
  border: none;
  border-bottom: 1px solid #000000;
}

#checkBox {
  width: 65px;
  height: 25px;
  background-color: #e5efff;
  color: #1279ff;
  border-radius: 5px;
  border-style: hidden;
  font-size: 12px;
}

#selectBox {
  width: 125px;
  height: 20px;
  font-size: 10px;
  border-radius: 2px;
  text-align-last: center;
}

.button {
  width: 125px;
  height: 20px;
  background: white;
  border: 1px solid #1279ff;
  border-radius: 2px;
  color: #1279ff;
  font-size: 10px;
}
